
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #F0F2F5;
        font-family: 'Popins', sans-serif;
        color: #1c1e21;
        line-height: 1.34;
        position: relative;
    }

    .logo {
        position: absolute;
        left: 20%;
        width: 50%;
        top: 150px;
    }

    img {
        width: 50%;
        margin: 0px;
    }

    .disc >p {
        top: 0px;
        font-size: larger;
        margin: auto;
        padding: 0 40px;
    }

    .form {
        width: 25%;
        background-color: #FFFFFF;
        position: absolute;
        right: 180px;
        top: 50px;
        box-shadow: 4px 4px 10px #aaacb06d, -4px -4px 10px #aaacb06d;
        border-radius: 7px;
        margin: 40px 0 0;
        padding: 20px 0 28px 20px;
        font-size: 12px;

    }

    input:active {
        border: 0.5px solid #0866ff;
        /* box-shadow: 1px 1px 4px #0866ff; */
    }

    .row {
        font-size: 17px;
        padding: 14px 16px;
        width: 95%;
        margin: 5px 0;
        border-radius: 10px;
        border: 1px solid #dddfe2;
    }

    .green {
        background-color: #36a420;
        border-color: #36a420;
        margin: auto;
        width: 60%;
        color: #F0F2F5;
        margin-left: 17%;
    }

    .blue {
        background-color: #0866ff;
        border-color: #0866ff;
        color: #F0F2F5;
        margin-bottom: 20px;
    }

    button {
        cursor: pointer;
    }

    hr {
        margin: 20px 0 30px 0;
        width: 95%;
        border: 1px solid #dddfe2;
    }



    .forgot {
        text-decoration: none;
        color: #0866ff;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        cursor: pointer;
        direction: ltr;
    }