* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 40px;
    top: 0;
    background-color: rgba(10, 10, 10, 0.8);
    color: rgba(255, 255, 255, .8);
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
}

nav .nav-item {
    color: rgba(255, 255, 255, .8);
    font-weight: 400;
    font-size: 14px;
}

i {
    font-size: 14px;
}

.bars {
    display: none;
}

nav .nav-item:hover {
    color: #FFFFFF;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.flex-col {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.main {
    background-color: #FFFFFF;
}

.front {
    background-image: url("./image/cover/hero_paralympics__f0u9lu6obdiu_mediumtall_2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    text-align: center;
    line-height: 2px;
    /* 
    display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    text-shadow: ;
    flex-direction: column;
    gap: 50px;
}

text-shadow {
    text-shadow: rgb(165, 165, 163) 5px 5px 20px;
}

h2 {
    font-size: 40px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.front-content {

    color: #FFFFFF;
    padding-top: 10%;
}

p {
    font-size: 24px;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: .012em;
}


.btn-rounded {
    border-radius: 50px;
    font-size: 18px;
    font-weight: 200;
}

/* 
button {
    border: none;
   
    padding: 12px 19px;
    cursor: pointer;
  
} */

.front-content button {
    color: black;
    background-color: #FFFFFF;
    animation: background-color 1s
}

.front-content button:hover {
    background-color: rgb(240, 237, 237)
}

/* 
.search-box {
    height: 40px;
    top: 40px;
    background-color: rgba(10, 10, 10, 0.8);
    color: rgba(255, 255, 255, .8);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;align-items: center;
    gap: 30px;
} */
.iphone {
    background-image: url("./image/promo_iphone_medium.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    background-color: black;
    height: 65vh;
    color: #FFFFFF;
    padding-top: 5%;

}

.iphone p {
    font-size: 18px;
}

.bubble{
    background-color: #F5F5F7;
    
}
@media only screen and (max-width:833px) {


    .inner {
        visibility: hidden;
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        gap: 30px;

    }

    .icon-left {
        justify-content: left;
        margin-left: 4%;
    }

    .icon-right {
        justify-content: center;
        align-items: right;
        margin-right: 4%;
    }

    .bars {
        display: flex;
    }

    /* .front{
        background-image: url("");
        width: 100%;
        height: 90vh;
        background-repeat: no-repeat;
        background-size: contain;
        text-align: center;
        display: flex;
        justify-content: center;
       align-items: center;
       flex-direction: column;
       } */

}