/* :root {
    --greyDark: #333333;
    --greyLight: #d6d6d6;
    --greyLight2: #a1a1a6;
    --white: #f5f5f7;
    --text: #1d1d1f;
    --blue: #0071e3;
    --a: #2997ff;
} */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 40px;
    top: 0;
    background-color: rgba(10, 10, 10, 0.8);
    color: rgba(255, 255, 255, .8);
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
}

nav .nav-item {
    color: rgba(255, 255, 255, .8);
    font-weight: 400;
    font-size: 14px;
}

nav>i {
    font-size: 13px;
}

.bars {
    display: none;
}

nav .nav-item:hover {
    color: #FFFFFF;
}



.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.flex-col {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.main {
    background-color: #FFFFFF;
}

.front {
    background-image: url("./image/cover/hero_paralympics__f0u9lu6obdiu_mediumtall_2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    text-align: center;
    line-height: 2px;
    text-shadow: 5px 5px 20px black;
    flex-direction: column;
    gap: 50px;
}

.text-shadow {
    text-shadow: rgb(165, 165, 163) 5px 5px 20px;
}

h2 {
    font-size: 40px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h3 {
    font-size: 40px;
    line-height: 1.11;
    font-weight: 500;
    letter-spacing: .004em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}


.front-content {
    color: #FFFFFF;
    padding-top: 8%;
}

p {
    font-size: 24px;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: .012em;
}

p .coll-items {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

}

.btn-rounded {
    border-radius: 50px;
    font-size: 18px;
    font-weight: 200;
}

.btn-rounded-sm {
    border-radius: 50px;
    font-size: 14px;
    font-weight: 150;
}

.front-content button {
    color: black;
    background-color: #FFFFFF;
    animation: background-color 1s
}

.front-content button:hover {
    background-color: rgb(240, 237, 237)
}

/* 
.search-box {
    height: 40px;
    top: 40px;
    background-color: rgba(10, 10, 10, 0.8);
    color: rgba(255, 255, 255, .8);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;align-items: center;
    gap: 30px;
} */
.iphone {
    background-image: url("./image/collection/iphone_medium.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    background-color: black;
    height: 65vh;
    color: #FFFFFF;
    padding-top: 5%;

}

.iphone p {
    font-size: 18px;
}

.bubble {
    background-color: #F5F5F7;
}

.collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #FFFFFF;
    gap: 10px;
    background-color: inherit;
}

.coll-content-top {
    padding-top: 10%;
    text-align: center;

}


.text-grey {
    color: #7E7E83;
    font-size: 14px;
}

#ipad {
    background-image: url("./image/collection/ipadpro__large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    background-color: #000000;
}

#intelligence {
    background-image: url("./image/collection/ai_medium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    background-color: #f5f5f7;
    color: #000000;
}

#vision {
    background-image: url("./image/collection/vision_pro_medium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: end;
    padding: 0 10% 10% 10%;
    width: 100%;
    height: 80vh;
    color: #000000;
}

.coll-items>i {
    font-size: 40px;
    font-weight: 500;
}

#watch {
    background-image: url("./image/collection/apple_watch_medium_2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    color: #FFFFFF;
}

/* #watch i {
    color: #FFFFFF;
} */

#card {
    background-image: url("./image/collection/card_medium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    color: #000;
}

#trade {
    background-image: url("./image/collection/tradein_medium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    color: #000;
}


/* slider 2 */


.slider-box {
    width: 250px;
    height: 150px;
    display: inline-block;
    background-image: url("./image/slider2/476x268\ \(1\).jpg");
    position: relative;
    transition: filter 0.3s ease;
}

.slider-box>button {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.slider-box:hover>button {
    visibility: visible;
}

.slider-box:hover {
    filter: grayscale(80%);
}

/* footer css */
.upper-text-container p {
    font-size: 1em;
    text-align: justify;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.footer-wrapper {
    background-color: #f5f5f7;
    color: #86868b;
    font-size: .7em;
}

.footer-wrapper ul {
    list-style: none;
    padding-bottom: 10px;
    padding-inline-start: 0px;
}

.footer-wrapper ul a {
    color: #515154;
}

.my-apple-wrapper {
    padding-bottom: 15px;
    margin-top: 10px;
}

.copyright {
    margin-top: 15px;
}

.footer-country {
    margin-top: 8px;
}

.footer-country {
    display: flex;
    justify-content: space-between;
}

.flag-wrapper {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}

.footer-country-name {
    display: inline-block;
    vertical-align: middle;
}

.footer-links-terms ul {
    justify-content: space-around;
    flex-direction: row;
    flex-flow: row;
}

.footer-links-terms ul li {
    border-right: 1px solid #d2d2d7;
}

.footer-links-terms ul li:first-child {
    padding-left: 0;
}

.footer-links-terms ul li:last-child {
    border-right: 0;

}

.footer-links-wrapper h3 {
    font-size: 12px;
    font-weight: 600;
    color: #1d1d1f;
}

.footer-wrapper ul li {
    padding: 4px 0;
}

.upper-text-container {
    border-bottom: 1px solid #d2d2d7;
    padding: 17px 0 10px;
    margin-bottom: 20px;
}


.upper-text-container a {
    color: #515154;
}


@media only screen and (max-width:833px) and (min-width:400px) {

    nav>i {
        font-size: 13px;
    }

    .inner {
        visibility: hidden;
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        gap: 30px;

    }

    .icon-left {
        justify-content: left;
        margin-left: 4%;
    }

    .icon-right {
        justify-content: center;
        align-items: right;
        margin-right: 4%;
    }

    .bars {
        display: flex;
    }

    /* .front{
        background-image: url("");
        width: 100%;
        height: 90vh;
        background-repeat: no-repeat;
        background-size: contain;
        text-align: center;
        display: flex;
        justify-content: center;
       align-items: center;
       flex-direction: column;
       } */
    .bubble img {
        width: 70%;
    }


    .collection {
        grid-template-columns: 1fr;
    }



    .footer-links-wrapper ul {
        display: none;
    }

    .footer-links-wrapper h3 {
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
    }

    .footer-links-wrapper h3:after {
        font-family: "FontAwesome";
        content: "\f067";
        padding-left: 10px;
        position: absolute;
        right: 25px;
    }

    .footer-links-wrapper h3.expanded:after {
        font-family: "FontAwesome";
        content: "\f107";
        padding-left: 10px;
        position: absolute;
        right: 25px;
    }

    .footer-links-wrapper ul {
        display: none;
    }

    .footer-links-wrapper h3 {
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
    }

    .footer-links-wrapper h3:after {
        font-family: "FontAwesome";
        content: "\f067";
        padding-left: 10px;
        position: absolute;
        right: 25px;
    }
}





@media only screen and (max-width: 399px) {
    nav>i {
        font-size: 10px;
    }

    .inner {
        visibility: hidden;
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        gap: 30px;

    }

    .icon-left {
        justify-content: left;
        margin-left: 4%;
    }

    .icon-right {
        justify-content: center;
        align-items: right;
        margin-right: 4%;
    }

    .bars {
        display: flex;
    }

    .bubble img {
        width: 80%;
    }

    .collection {
        grid-template-columns: 1fr;
    }

    .front-content {
        color: #FFFFFF;
        padding-top: 20%;
    }

    .footer-links-wrapper ul {
        display: none;
    }

    .footer-links-wrapper h3 {
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
    }

    .footer-links-wrapper h3:after {
        font-family: "FontAwesome";
        content: "\f067";
        padding-left: 10px;
        position: absolute;
        right: 25px;
    }
}