@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Oswald:wght@200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #FEF4E6;
    border: 2px solid #000000;
    border-radius: 20px;
    width: 250px;
    padding: 30px;
    margin: 100px 20px 20px 610px;
    font-family: "PT Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}

.container:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px #ad926c;
}

p {
    text-align: center;
}

.topic {
    color: #E70765;
    font-size: 25px;
    font-family: "Allura", cursive;
    font-weight: 800;
    font-style: normal;
    margin: 10px;
    padding: 5px;
    rotate: -30deg;
}

.scaler {
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;
    margin: 10px 20px;
    padding: 5px;
}

.bike-icons,
.plane-icons {
    list-style-type: none;
    list-style-position: outside;
}

h2 {
    text-align: center;
}