@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Oswald:wght@200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

body {
    margin: 0;
    padding: 0;
}

.container {

    background-color: #FEF4E6;
    border: 2px solid #5b0909;
    border-radius: 20px;
    width: 250px;
    padding: 30px;
    margin: 200px 20px 20px 610px;

    /* fonts and sizes */

    font-family: "PT Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 40;
    font-style: normal;


}

p {
    text-align: center;
}

.topic {
    color: #E70765;
    /* font-family: "Great Vibes", cursive;
    font-weight: 800;*/
    font-size: 25px;
    font-family: "Allura", cursive;
    font-weight: 800;
    font-style: normal;
    margin: 0;
    padding: 0;
    rotate: -30deg;
}

.scaler {
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 45;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
}

.plane {
    list-style-image: url(Images/plane-solid.svg);
}

.bike {
    list-style-image: url(Images/bicycle-solid.svg);
}